.tweet-content {
    margin:12px 3px 4px 3px;
    padding: 5px;

    border:1px solid #a6a6a6;
    border-radius: 3px;
}

.tweet-content p {
    text-indent: 20px;
    line-height: 4vh;
}

.username {
    color:#fe0e0e;
}