* {
    font-family:Verdana, Helvetica, Arial;
    font-size: 2vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 3px;
}

button {
    line-height: 4vh;
    padding: 2px 10px;
    background-color: #fadec1;
    color:#111;
}

.tweet-content {
    margin:12px 3px 4px 3px;
    padding: 5px;

    border:1px solid #a6a6a6;
    border-radius: 3px;
}

.tweet-content p {
    text-indent: 20px;
    line-height: 4vh;
}

.username {
    color:#fe0e0e;
}